.container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 15px;
}

.item {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid #333;
}