* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    text-align: center;
    margin-top: 200px;
}

.page-wrapper img {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.page-wrapper input {
    width: 450px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 24px;
}

.page-wrapper input::placeholder {
    text-align: center;
}

.button-wrapper{
    text-align: center;
    margin-top: 20px;
}

.button-wrapper button {
    padding: 10px;
    border:  1px solid #d2d2d2;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.button-wrapper button:hover {
    border-color: #e7e7e7;
}